<div style="margin-top: 50px">
    <h2 class="text-center" style="color: #0cc5c5">Наша продукция</h2>
</div>
<div style="margin-top: 30px; margin-bottom: 50px">

    <div class="card-deck">
        <div class="col-md-4 col-xs-6"
             *ngFor="let product of products | paginate: { itemsPerPage: 25, currentPage: page }"
             style="margin-top: 10px">
        <div class="card onHover">
            <a style="color: black" [routerLink]="['/product', product.SKU]">
            <img class="card-img-top" [src]="product.ImageURL"  alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">Роутер</small>
                        <p><b>{{product.SKU}}</b></p>
                    </div>
                    <div class="col-6">
                        <br>
                        <p class="text-right" style="color: #02a502">{{product.RetailPrice}} грн</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        </div>
    </div>

    <div class="text-center" style="margin-top: 50px">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
